*.iml
.gradle
/local.properties
/.idea/gradle.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/jobdone.code-workspace
/webflux/web_req.rest
/toodoo_compose/.idea/libraries
/toodoo_compose/.idea/modules.xml
/toodoo_compose/.idea/workspace.xml
/books/
gradle/wrapper/gradle-wrapper.jar
